# Environment variables for the application
# Possible value : development, production
NODE_ENV=your-node_env

# Assign port number for the server to listen on
PORT=your-port

# Database connection string for PostgreSQL (from Neon)
# Timeout can be set in seconds, preferred is 10 and above if connection is failing
# Pooled connection for your application (add &connect_timeout and &pool_timeout at the end)
DATABASE_URL=your-database_url
# Direct (unpooled) connection for Prisma CLI (add &connect_timeout at the end)
DATABASE_URL_UNPOOLED=your-database_url_unpooled

# Rate limiting configuration
# Rate limit window in seconds (e.g., 60 for 60 sec)
# Rate limit max requests per window (e.g., 100 for 100 requests)
RATE_LIMIT_WINDOW=your-rate_limit_window
RATE_LIMIT_MAX=your-rate_limit_max

# Authentication rate limiting configuration
# Rate limit window in seconds (e.g., 600 sec for 10 minutes)
# Rate limit max requests per window (e.g., 5 for 5 requests)
AUTH_RATE_LIMIT_WINDOW=your-auth_rate_limit_window
AUTH_RATE_LIMIT_MAX=your-auth_rate_limit_max

# JWT secret key for signing and verifying tokens (use a strong, random string // use 'openssl rand -base64 64' to generate one)
# JWT token expiration time ( eg: 3600s, 60m, 1h, 1d )
JWT_SECRET=your-jwt_secret
JWT_EXPIRATION=your-jwt_expiration
